
body
*{
 margin: 0;
 padding: 0;
}
body{
    width:100%;
    height: 100vh;
   background-image: url("https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
   background-size: cover;
   background-position: center;
 }

nav {
    width: 100%;
   height: 70px;
   background-color:rgba(0, 0, 0, 0.788);
   line-height: 70px;
}


nav ul {
 text-align: center;
   
    text-decoration: none;
}

nav ul li {    

    text-decoration: none;
    list-style-type: none;
    display: inline-block;
  transition: 0.8s all;
  font-size: 25px;
}
nav ul li:hover{
    background-color: white;
}


nav ul li a {
  text-decoration: none;
    color: #fff;
    padding: 30px;
   
}
.table{
    padding-top: 80px;
    line-height: 45px;
   
}