
body
   *{
    margin: 0;
    padding: 0;
   }
body{
    width:100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1565982/pexels-photo-1565982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
   background-size:cover;
   background-position: center;
}
.sidebar{
    height: 100%;
    width: 240px;
    position: fixed;
    background-color:rgba(129, 54, 54, 0.849);
}
.sidebar header{
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;
}
.sidebar ul li{
padding: 15px;
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
transition: 0.8s all;
}
.sidebar ul li a{
color: white;
line-height: 50px;
padding-left: 20px;
text-decoration: none;
}
.sidebar ul li:hover{
    background: #0009;
}
