.container{
    padding-right:  15px;
}
.card{
    padding: 5px;
  margin:40px;
 left: 100px;
  background-color:rgb(97, 74, 74,0.6);
}
.card-body p{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 20px;
}
.card:hover{
    background-color: rgba(207, 103, 103, 0.6);
}
.btn{
    width: 50%;
    height: 35px;
    border-radius: 30px;
    background-color:rgba(206, 114, 114, 0.6);
   font-weight: bold;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
   line-height: 15px;

}


  